extends layout

append stylesheets
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')
  link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css' type="text/css")
  link(rel='stylesheet', href='/stylesheets/chat.css' type="text/css")

append javascripts
  script(src="/bootstrap/dist/js/bootstrap.js")
  script(src="/javascripts/controller/chatController.js")

block content
  div(ng-controller="chatController")
    span.top
    .container-fluid.bg-white.chatbox.shadow-lg.rounded
      .row.h-100
        #side-1.col-12.col-md-4.pr-0.d-none.d-md-block
          .card.h-100
            .card-header
              .row
                .col-10.col-sm-10.col-md-10
                  img.profile-pic.rounded-circle(src='img/avatar.jpg', alt='')
                .col-2.col-sm-2.col-md-2
                  i.fas.fa-arrow-right.mt-2.d-md-none(onclick='hideChatList()', style='font-size: 20px;cursor: pointer;')
            // Search
            .container-fluid
              ul.list-group.list-group-flush
                li.list-group-item
                  input.form-control.search(type='text', placeholder='search or new chat')
            // Search END!
            ul.list-group.list-group-flush
              li.list-group-item.list-group-item-action(onclick='StartChat(1)')
                .row
                  .col-2.col-md-3.col-lg-2
                    img.friend-pic.rounded-circle(src='img/avatar.jpg', alt='')
                  .col-10.col-md-9.col-lg-10(style='cursor: pointer;')
                    .name Herhangi biri
                    .under-name Birazcik ordan surdan burdan yazi iste
        #side-2.col-md-8.pl-0
          #chatdiv.card(style='display: none')
            .card-header
              .row
                .col-1.col-sm-1.col-md-1.col-lg-1.d-md-none
                  i.fas.fa-arrow-left.mt-2(onclick='showChatList()', style='font-size: 23px;cursor: pointer;')
                .col-2.col-sm-2.col-md-1.col-lg-1
                  img.profile-pic.rounded-circle(src='img/avatar.jpg', alt='')
                .col-5.col-sm-6.col-md-8.col-lg-9
                  .name Herhangi biri
                  .under-name Son gorulme 19:20
                .col-4.col-sm-3.col-md-3.col-lg-2.icon
                  i.fas.fa-search.mt-2(style='font-size: 23px;cursor: pointer;')
                  i.fas.fa-paperclip.ml-4.mt-2(style='font-size: 23px;cursor: pointer;')
                  i.fas.fa-ellipsis-v.ml-4.mt-2(style='font-size: 23px;cursor: pointer;')
            #messages.card-body
              .row
                .col-8.col-sm-8.col-md-8.col-lg-4
                  p.bubble.you.bg-white.text-dark
                    | deneme mesaj yazisi nerden geldi belirsiz
                    span.time.float-right 13:30
              .row.justify-content-end
                .col-8.col-sm-8.col-md-8.col-lg-4
                  p.bubble.me.bg-white.text-dark
                    | deneme mesaj yazisi nerden geldi belirsiz
                    span.time.float-right 13:30
            .card-footer
              .row
                .col-2.col-md-1
                  i.far.fa-grin.fa-2x
                .col-8.col-md-10
                  input#txtmessage.form-control.search(onclick='onKeyDown()', placeholder='biseyler yaz...')
                .col-2.col-md-1
                  i.fas.fa-microphone.fa-2x
          #start.text-center
            i.fas.fa-comments.mt-5.pt-5(style='font-size: 250px')
            h2.mt-3 Sohbete Baslamak icin kullanici sec
            a.d-md-none(href='#', onclick='showChatList()') Kullanicilar

