extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/index.css' type="text/css")


block content
  div(ng-controller="indexController")
    .ana
      .container-panel
        .wrap-panel
          form.panel-form(method='post' action='/giris')
            span.panel-form-title
              | Hoşgeldin!
            a.button(href='#')
              i.facebook-icon
              |Facebook
            a.button(href='/auth/google')
              i.google-icon
              |Google
            .label
              span
                | Kullanıcı Adı
            .wrap-input
              input.input(type='text', name='kadi')
              span.focus-input
            .label
              span
                | Şifre
              a.txt2.b-c-r(href='#', style='margin-left: 5px;')
                | unuttun mu?
            .wrap-input
              input.input(type='password', name='sifre')
              span.focus-input
            .container-panel-form-button(style='margin-top: 17px')
              button.panel-form-button
                | Giriş Yap
            .register
              span.txt2
                | üye değil misin?
              a.txt2.b-c-r(href='#')
                | Hemen üye ol

