doctype html
html
  head
    title Coder
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block stylesheets
      link(rel='stylesheet', type='text/css', href='stylesheets/reset.css')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    div(ng-app="chatdad", ng-cloak)
      block content

  block javascripts
    script(src="/angular/angular.min.js")
    script(src="/jquery/dist/jquery.min.js")
    script(src="/javascripts/main.js")
    script(src="/javascripts/controller/indexController.js")





