:root{
    --top-color:#009688;
    --li-bg:#f8f8f8;
    --name-color:#000;
    --icon-color:#9ca1a3;
    --body-bg:linear-gradient(180deg,#dddbd1,#d2dbdc);
    --gonderen-box-bg:#FFf;
    --box-text-color:#eee;
    --time-font-color:#000;
}


html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body{
    font-family: 'Segoe UI', Helvetica Nenu, Helvetica,'Lucida Sans','Lucida Sans Regular','Lucida Grande',"Lucida Sans Unicoder",Geneva,Verdana, sans-serif;
    background:var(--body-bg);
}

.top{
    width: 100%;
    height: 130px;
    background-color: var(--top-color);
    position: fixed;
    z-index: -1;
}

.chatbox{
    width: 95%;
    height: calc(100% - 40px);
    margin-top: 20px;
    padding: 0;
}

.profile-pic{
    width: 40px;
    height: 40px;
}
.search{
    border-radius: 1rem;
}
.li{
    background-color: var(--li-bg);
}

.friend-pic{
    width: 50px;
    height: 50px;
}

.name{
    font-weight: 400;
    color: var(--name-color);
}
.under-name{
    line-height: 15px;
    font-size: 12px;
    max-height: 15px;
}

.icon{
    font-size: 20px;
    color: var(--icon-color);
}

.bubble{
    background-color: var(--gonderen-box-bg);
    padding: 10px 15px;
    display: inline-block;

    position: relative;
    vertical-align: top;
    color: var(--box-text-color);
}


.you {
    margin: 5px 45px 5px 20px;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 0px 0px 3px 0px rgb(255,51,51);
}

.you::before {

    left: -9px;
}

.me {
    margin: 5px 20px 5px 45px;
    border-radius: 10px 0px 10px 10px;
    box-shadow: 0px 0px 2px 0px rgb(51,255,58);
}

.me::before {
    right: -9px;
}

.time{
    font-size: 12px;
    color: var(--time-font-color);
    margin-top: 3%;
    margin-left: 1%;
}

.card{
    height: 96vh;
}
#messages{
    overflow-y:scroll ;
    overflow-x: hidden;
}