* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/

a{
  color: #666666;
  margin-right: 10px;
  text-decoration: none;
}
a:hover{
  color:#ff3333;
  border: 1.2px solid #ff3333;
}

.b-c-r{
  border: 0 solid #fff !important;
}

button {
  border: none;
  outline:0 !important;
  -webkit-appearance:none;
  background: transparent;
}

button:hover {
  cursor: pointer;
  color: #ff3333;
  border: 1.2px solid #ff3333;
}

label {
  display: block;
  margin: 0;
}


/*--------------input---------------------*/
input{ outline: none; border: none; }
input:focus { border-color: transparent !important;}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #555555;}
input:-moz-placeholder { color: #555555;}
input::-moz-placeholder { color: #555555;}
input:-ms-input-placeholder { color: #555555;}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.ana {
  width: 100%;
  margin: 0 auto;
}

.container-panel {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: white;
}

.wrap-panel {
  width: 680px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  padding: 62px 110px 32px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*==================================================================
[ Form ]*/

.panel-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.panel-form-title {
  width: 100%;
  display: block;
  font-size: 39px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 53px;
}

/*--------------------button---------------------------------*/
.button{
  font-size: 18px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: calc((100% - 20px) / 2);
  height: 70px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;


  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


i {
  margin-right: 17px;
  padding-bottom: 3px;
}

.label{
  padding-top: 31px;
  padding-bottom: 9px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input {
  width: 100%;
  position: relative;
  background-color: #f7f7f7;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}


/*---------------------------------------------*/
.input {
  color: #333333;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  background: transparent;
  height: 60px;
  padding: 0 20px;
}
/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #ff3333;
  border-radius: 10px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input:focus + .focus-input {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-panel-form-button {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.panel-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  position: relative;
  font-size: 18px;
  line-height: 1.2;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
}

.register{
  width: 100%;
  text-align: center;
  padding-top: 55px
}


/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/
@media (max-width: 768px) {
  .wrap-panel {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 576px) {
  .wrap-panel {
    padding-left: 15px;
    padding-right: 15px;
  }

  .button {
    width: 100%;
  }
}